.editar-produto-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: black;

  border: 3px solid blueviolet;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.4);
}

.editar-produto-container form {
  display: flex;
  flex-direction: column;
}

.editar-produto-container input {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.editar-produto-container button {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
